<div class="wrapper">
  <div>
    <h1 class="mat-h1 header">Unanswered Question</h1>
    <div class="card" *ngFor="let question of questionList | sortByTime: 'createdDate'; let i = index">
      <form #myForm="ngForm" (submit)="onSaveAnswer(myForm, i)">
        <mat-card *ngIf="!question.isAnswered">
          <mat-card-content>
            <p>{{question.text}}</p>
            <mat-form-field *ngIf="question.questionType === 'open'" appearance="outline" class="title-input">
              <mat-label>Answer</mat-label>
              <textarea matInput name="open" cdkTextareaAutosize #textAnswer="ngModel" [(ngModel)]="question.answer[0]"></textarea>
            </mat-form-field>

            <div *ngIf="question.questionType !== 'open'">
              <label>Options:</label>
              <br>
              <mat-radio-group>
                <ng-container *ngFor="let option of question.options; let optionIndex=index;">
                  <mat-radio-button name="singleSelect" [checked]="question.answer[0] == optionIndex" ngDefaultControl #singleSelectAnswer="ngModel" [value]="optionIndex" [(ngModel)]="question.answer[0]" *ngIf="question.questionType === 'singleSelect'">
                    {{ option.optionText }}
                  </mat-radio-button>
                  <mat-checkbox name="multiSelect" [(ngModel)]="question.answer[optionIndex]" #multiSelectAnswer="ngModel" *ngIf="question.questionType === 'multiSelect'">
                    {{ option.optionText }}
                  </mat-checkbox>
                  <br>
                </ng-container>
              </mat-radio-group>
            </div>

          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button type="submit" *ngIf="((question.questionType === 'open' || question.questionType === 'singleSelect') && question.answer[0]) || (question.questionType === 'multiSelect' && getValidAnswer(i))" color="primary">
              <mat-icon>save</mat-icon> Save Answer
            </button>
            <button mat-raised-button class="clear-button" color="accent" (click)="clearForm(i)" *ngIf="((question.questionType === 'open' || question.questionType === 'singleSelect') && question.answer[0]) || (question.questionType === 'multiSelect' && getValidAnswer(i))" color="primary">
              <mat-icon>cancel</mat-icon> Clear
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
  <div class="vl"></div>
  <div>
    <h1 class="mat-h1 header">Answered Question</h1>
    <div class="card" *ngFor="let question of questionList | sortByTime: 'answeredDate'; let i = index">
      <mat-card *ngIf="question.isAnswered">
        <mat-card-content>
          <p>{{question.text}}</p>
          <mat-form-field *ngIf="question.questionType === 'open'" appearance="outline" class="title-input">
            <mat-label>Answer</mat-label>
            <textarea matInput disabled cdkTextareaAutosize [(ngModel)]="question.answer"></textarea>
          </mat-form-field>

          <div *ngIf="question.questionType !== 'open'">
            <label>Options:</label>
            <br>
            <mat-radio-group>
              <ng-container *ngFor="let option of question.options; let optionIndex=index;">
                <mat-radio-button [checked]="question.answer[0] == optionIndex" disabled ngDefaultControl [value]="optionIndex" [(ngModel)]="question.answer[0]" *ngIf="question.questionType === 'singleSelect'">
                  {{ option.optionText }}
                </mat-radio-button>
                <mat-checkbox [(ngModel)]="question.answer[optionIndex]" disabled *ngIf="question.questionType === 'multiSelect'">
                  {{ option.optionText }}
                </mat-checkbox>
                <br>
              </ng-container>
            </mat-radio-group>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="onRevertAnswer(i)">
            <mat-icon>refresh</mat-icon>Revert Answer
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>