<div class="question-form">
  <h1 class="mat-h1">{{ editMode ? 'Update' : 'Create' }} Question</h1>
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="title-input">
      <mat-label>Question</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="text"></textarea>
      <mat-error *ngIf="questionForm.get('text')?.invalid && questionForm.get('text')?.touched">
        Please enter a valid question
      </mat-error>
    </mat-form-field>

    <div>
      <label>Question Type: </label>
      <br>
      <mat-radio-group formControlName="questionType">
        <mat-radio-button value="open">Open</mat-radio-button>
        <br>
        <mat-radio-button value="singleSelect">Single Choice</mat-radio-button>
        <br>
        <mat-radio-button value="multiSelect">Multiple Choice</mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="questionForm.value.questionType !== 'open'" formArrayName="options">
      <p>Please add two or more options</p>
      <div class="option-fields" *ngFor="let item of controls; let i=index" [formGroupName]="i">
        <mat-form-field appearance="fill" class="title-input">
          <mat-label>Option {{i+1}}</mat-label>
          <input matInput placeholder="Please enter an option" formControlName="optionText">
          <mat-error *ngIf="questionForm.controls['options'].invalid && questionForm.controls['options'].touched">
            Please enter a valid option
          </mat-error>
        </mat-form-field>
        <button mat-icon-button color="warn" matTooltip="Remove option" (click)="onDeleteOption(i)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <button mat-raised-button color="accent" type="button" (click)="onAddOption()">
        <mat-icon>add</mat-icon> Add option
      </button>
    </div>

    <div class="action-button">
      <button mat-raised-button color="primary" [disabled]="questionForm.invalid || (questionForm.value.questionType !== 'open' && questionForm.value.options.length<2)" aria-label="" type="submit">
        <mat-icon>save</mat-icon> {{ editMode ? 'Update' : 'Save'}} Question
      </button>
      <button mat-raised-button color="warn" (click)="cancel()">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
    </div>
  </form>
</div>