<h3 class="mat-h1" *ngIf="!questionData.length">Curently there are no question, Please <a [routerLink]="['/create']">click here</a> to create question</h3>
<div *ngIf="questionData.length" class="mat-elevation-z8 question-table">
  <table mat-table [dataSource]="questionData">

    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef> Questions </th>
      <td mat-cell *matCellDef="let element"> {{element.text}} </td>
    </ng-container>

    <ng-container matColumnDef="questionType">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element">
        {{element.questionType === 'open' ? questionsTypes.open : element.questionType === 'singleSelect'? questionsTypes.singleSelect : questionsTypes.multiSelect}}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate | date : 'dd/MM/yy'}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-icon-button color="primary" matTooltip="Edit Question" aria-label="edit question" (click)="editQuestion(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Delete Question" aria-label="delete question" (click)="confirmationPopup(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>