.no-question-card {
  display: flex;
  justify-content: center;

  .mat-card {
    width: 500px;
    padding: 40px;
    margin-top: 50px;
    border: 1px solid #3f51b5;
  }
}

.question-table {
  max-width: 100%;
  margin: 4% !important;

  table {
    padding: 10px;
    width: 100%;
  }
  .mat-column-text {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 50% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 15px;
    font-size: 16px;
  }

  .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: center !important  ;
    font-size: 16px;
  }
  .mat-column-createdDate {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: center !important  ;
    font-size: 16px;
  }

  .mat-column-questionType {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;
    text-align: center !important  ;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    font-size: 16px;
  }
  th.mat-header-cell {
    font-size: 24px !important;
  }
}
